
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h4>Seja bem vindo ao projeto</h4>
<hr />

<ul>
    <li><a href="/Aluno/Cadastro">Cadastrar Alunos</a></li>
    <li><a href="/Aluno/Consulta">Consultar Alunos</a></li>
</ul>

<ul>
    <li><a href="/Professor/Cadastro">Cadastrar Professores</a></li>
    <li><a href="/Professor/Consulta">Consultar Professores</a></li>
</ul>

<ul>
    <li><a href="/Turma/Cadastro">Cadastrar Turmas</a></li>
    <li><a href="/Turma/Consulta">Consultar Turmas</a></li>
</ul>

<ul>
    <li><a href="/Turma/Matricula">Matricular Aluno</a></li>
</ul>


