
@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section scripts{
      
    <script>

        //função para executar o cadastro do professor
        function cadastrarProfessor() {

            //armazenar o conteúdo dos campos
            //em um objeto de formato JSON
            var professor = {
                Nome: $("#nomeprofessor").val(),
                Email: $("#emailprofessor").val()
            };

            //limpar as mensagens de erro de validação
            $(".erro").html("");
            $("#mensagem").html("");

            $.ajax({
                type: "POST",
                url: "/Professor/CadastrarProfessor",
                data: professor,
                success: function (d) { //requisição com sucesso

                    //imprimindo o resultado obtido do servidor
                    $("#mensagem").html(d);

                    //limpar os campos
                    $(".campo").val("");

                },
                error: function (e) { //erro da requisição

                    //verificar o status do erro retornado
                    if (e.status == 500){ //INTERNAL SERVER ERROR
                        $("#mensagem").html(e.responseText);
                    }
                    else if (e.status == 400){ //BAD REQUEST

                        var erros = e.responseJSON;

                        //exibir as mensagens de erro na página
                        $("#erronome").html(erros.Nome);
                        $("#erroemail").html(erros.Email);
                    }

                }
            });

        }

        //criando os eventos da página utilizando jquery
        $(document).ready(function () { //page_load

            //evento executado quando o botão for clicado
            $("#btncadastro").click(function () {
                cadastrarProfessor(); //executando a função
            });

        });

</script>

}

<h4>Cadastro de Professores</h4>
<a href="/Home/Index">Página inicial</a>
<hr />

<div class="row">
    <div class="col-md-4">

        <label>Nome do Professor:</label>
        <input type="text" id="nomeprofessor" class="form-control campo"
               placeholder="Nome do Professor" />
        <span id="erronome" class="text-danger erro"></span>
        <br />

        <label>Email:</label>
        <input type="text" id="emailprofessor" class="form-control campo"
               placeholder="Email" />
        <span id="erroemail" class="text-danger erro"></span>
        <br />

        <button id="btncadastro" class="btn btn-success">
            Cadastrar Professor
        </button>
        <br />
        <br />

        <div id="mensagem"></div>

    </div>
</div>